ErrorDocument 404 http://oss.oetiker.ch/rrdtool/404.var
RewriteEngine On
RewriteRule pub/(.*) http://people.ee.ethz.ch/oetiker/webtools/rrdtool/pub/$1 [R=301,L]
RewriteRule pub$ http://people.ee.ethz.ch/oetiker/webtools/rrdtool/pub/ [R=301,L]
