DirectoryIndex index.en.html index.html
ErrorDocument 404 http://oss.oetiker.ch/rrdtool/404.var
RewriteEngine On
RewriteRule index.html http://oss.oetiker.ch/rrdtool/ [R=302,L]
RewriteRule download.html http://oss.oetiker.ch/rrdtool/download.en.html [R=302,L]
<FilesMatch ".htaccess">
  Order Allow,Deny
  Allow From All
</FilesMatch>
<FilesMatch "mirror.html">
  SetHandler cgi-script
</FilesMatch>
